::-webkit-scrollbar {
    width: 12px;
    height: 10px;
  }
  
::-webkit-scrollbar-track {
    background: #3f3e3e;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #30c5ff;
    border-radius: 10px;
}

body {
    display: flex;
    flex-direction: column;
    height: 98vh;
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

main {
    flex: 1;
}

header {
    padding: 10px 30px;
}

header h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

footer {
    margin: 5px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
}

svg {
    width: 100px;
    cursor: pointer;
    transition: fill 1s ease;
}

svg:hover {
    fill: #00aaff;
}

p {
    color: white;
}
p>a {
    text-decoration: none;
    color: white;
    transition: color 0.7s ease;
}

p>a:hover {
    color: #00aaff
}