.modal-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center; /* Центрирует по горизонтали */
  align-items: center; /* Центрирует по вертикали */
  z-index: 1000;
}

.modal-window {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px; /* Задай ширину, иначе `flex` не центрирует */
  height: 430px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.modal-levels {
  display: flex;
  justify-content: space-between;
}

.level-item,
.level-title {
  padding: 0 30px;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
}

.level-item {
  cursor: pointer;
}

.modal-title {
  font-size: 32px;
  font-weight: 500;
}

.modal-close-btn {
  position: absolute;
  right: 2px;
  top: 5px;
  width: 35px;
  cursor: pointer;
}

.level-title {
  font-weight: 500;;
}